# Step 1: The Hypotheses

## Hypothesis 1: GDP Per Capita vs Suicide

There's this endless debate between people who are advocates of the "money brings happiness" philosophy and their opponents, the "money's just a number" proponents. Let's put these two statements to the test. If it is true that money brings happiness, then as GDP per capita goes up, the number of suicides will go down. We can randomly sample the population and see what the trend is in our sample.

In order to do this, we need to divide our population into two sectors: the high GDP per capita sector and the low GDP per capita sector. From these two we can proceed to randomly sample to get a so-called "treatment" group and a "control" group. The "treatment" group will be those who are in the "high GDP per capita" sector and the "control" group will be those in the "low GDP per capita" sector. 

The above is my reasoning thus far. So, let me lay out my alternate and null hypotheses as follows:

Alternate Hypothesis: Citizens from higher gdp per capita group are more prone to suicide than those in the lower gdp per capita group. $\hat{p}_h$ - $\hat{p}_l$ > 0  (exciting, new claim!)

Null Hypothesis: The suicide rates between the two groups is the same. $\hat{p}_h$ - $\hat{p}_l$ = 0 (no difference bro!)

## Hypothesis 2: Sex vs Suicide

I am curious to know - are men or women more likely to commit suicide? It would be interesting indeed if we found that say men committed suicide on average more than women. If so, I wonder what the cause of that would be?

I will construct the following hypotheses to test this:

Alternate Hypothesis: The suicide rates between men and women are different (whoa! exciting!).

Null Hypothesis: The suicide rates between men and women is the same (no difference bro!).

## Hypothesis 3: Generation vs Suicide

Did past generations have more suicides compared to current generations? I've been hearing that suicide rates have been going up. If this is true then the past generations would have lower suicide rates than current generations. So, based on this premise, I'm going to construct my hypotheses like this:

Alternate Hypothesis: The suicide rates among current generations (Gen X, Millenials, Gen Z) is more than suicide rates in previous generations (Silent, G.I., Boomers) (whoa! Cool!).

Null Hypothesis: The suicide rates among current generations is the same as suicide rates in previous generations (no difference bro!).

## Hypothesis 4: Age vs Suicide

Does age affect suicide? Do younger people commit suicide more than older folks? Or is it the other way around? 

The data is already divided by age group, so we can put forth the below hypotheses:

Alternate Hypothesis: The suicide rates among the various age groups are different (new! exciting!).

Null Hypothesis: The suicide rates among the various age groups is the same (no difference bro!).

## Hypothesis 5: Time vs Suicide

As we go through time, is suicide increasing? Or is it decreasing? I've heard that suicide rates have been increasing. Let's put this to the test.

Alternate Hypothesis: The suicide rates in past years (1985 - 2000) is greater than the suicide rates in recent years (2001 - 2016)

Null Hypothesis: The suicide rates in past years (1985 - 2000) is the same as the suicide rates in recent years (2001 - 2016)

# Step 2: Retrieving the Data

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [9]:
#Read from the master.csv file and put into a dataframe
suicides = pd.read_csv('master.csv',sep=',',header=0,names=['country','yr','sex','age','suicides_no',
                                                            'population','suicides_100k','country_yr',
                                                            'HDI_yr','gdp_yr','gdp_pc','gen'])

In [23]:
#Check the first 5 entries in dataframe
suicides.head(25)

,country,yr,sex,age,suicides_no,population,suicides_100k,country_yr,HDI_yr,gdp_yr,gdp_pc,gen
0,Albania,1987,male,15-24 years,21,312900,6.71,Albania1987,NaN,"2,156,624,900",796,Generation X
1,Albania,1987,male,35-54 years,16,308000,5.19,Albania1987,NaN,"2,156,624,900",796,Silent
2,Albania,1987,female,15-24 years,14,289700,4.83,Albania1987,NaN,"2,156,624,900",796,Generation X
3,Albania,1987,male,75+ years,1,21800,4.59,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
4,Albania,1987,male,25-34 years,9,274300,3.28,Albania1987,NaN,"2,156,624,900",796,Boomers
5,Albania,1987,female,75+ years,1,35600,2.81,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
6,Albania,1987,female,35-54 years,6,278800,2.15,Albania1987,NaN,"2,156,624,900",796,Silent
7,Albania,1987,female,25-34 years,4,257200,1.56,Albania1987,NaN,"2,156,624,900",796,Boomers
8,Albania,1987,male,55-74 years,1,137500,0.73,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
9,Albania,1987,female,5-14 years,0,311000,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
10,Albania,1987,female,55-74 years,0,144600,0.00,Albania1987,NaN,"2,156,624,900",796,G.I. Generation
11,Albania,1987,male,5-14 years,0,338200,0.00,Albania1987,NaN,"2,156,624,900",796,Generation X
12,Albania,1988,female,75+ years,2,36400,5.49,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
13,Albania,1988,male,15-24 years,17,319200,5.33,Albania1988,NaN,"2,126,000,000",769,Generation X
14,Albania,1988,male,75+ years,1,22300,4.48,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
15,Albania,1988,male,35-54 years,14,314100,4.46,Albania1988,NaN,"2,126,000,000",769,Silent
16,Albania,1988,male,55-74 years,4,140200,2.85,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
17,Albania,1988,female,15-24 years,8,295600,2.71,Albania1988,NaN,"2,126,000,000",769,Generation X
18,Albania,1988,female,55-74 years,3,147500,2.03,Albania1988,NaN,"2,126,000,000",769,G.I. Generation
19,Albania,1988,female,25-34 years,5,262400,1.91,Albania1988,NaN,"2,126,000,000",769,Boomers
20,Albania,1988,male,25-34 years,5,279900,1.79,Albania1988,NaN,"2,126,000,000",769,Boomers
21,Albania,1988,female,35-54 years,4,284500,1.41,Albania1988,NaN,"2,126,000,000",769,Silent
22,Albania,1988,female,5-14 years,0,317200,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
23,Albania,1988,male,5-14 years,0,345000,0.00,Albania1988,NaN,"2,126,000,000",769,Generation X
24,Albania,1989,male,75+ years,2,22500,8.89,Albania1989,NaN,"2,335,124,988",833,G.I. Generation

In [30]:
suicides.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27820 entries, 0 to 27819
Data columns (total 13 columns):
country          27820 non-null object
yr               27820 non-null int64
sex              27820 non-null object
age              27820 non-null object
suicides_no      27820 non-null int64
population       27820 non-null int64
suicides_100k    27820 non-null float64
country_yr       27820 non-null object
HDI_yr           8364 non-null float64
gdp_yr           27820 non-null object
gdp_pc           27820 non-null int64
gen              27820 non-null object
gdp_pc_hilo      27820 non-null int64
dtypes: float64(2), int64(5), object(6)
memory usage: 2.8+ MB

In [32]:
suicides.shape

(27820, 13)

# Step 3: Testing the Hypotheses

## Hypothesis 1: GDP Per Capita versus Suicide

### Step 1a: Determining the High GDP (treatment) and Low GDP (control) groups

Method 1: Take the max GDP per capita, take the min GDP per capita and compute (max - min) / 2. This will give us a "naive" boundary between the two groups for now.

In [11]:
suicides.gdp_pc

0         796
1         796
2         796
3         796
4         796
5         796
6         796
7         796
8         796
9         796
10        796
11        796
12        769
13        769
14        769
15        769
16        769
17        769
18        769
19        769
20        769
21        769
22        769
23        769
24        833
25        833
26        833
27        833
28        833
29        833
         ...
27790    1964
27791    1964
27792    1964
27793    1964
27794    1964
27795    1964
27796    2150
27797    2150
27798    2150
27799    2150
27800    2150
27801    2150
27802    2150
27803    2150
27804    2150
27805    2150
27806    2150
27807    2150
27808    2309
27809    2309
27810    2309
27811    2309
27812    2309
27813    2309
27814    2309
27815    2309
27816    2309
27817    2309
27818    2309
27819    2309
Name: gdp_pc, Length: 27820, dtype: int64

In [37]:
#Let's do a groupby on gdp per capita and see how many total suicides there are
gdp_pc_grouped = suicides.groupby('gdp_pc')[['suicides_no']].sum()

In [47]:
gdp_pc_grouped.head()

        suicides_no
gdp_pc
251              47
291             556
313             510
345             560
357             106

In [48]:
gdp_pc_grouped = gdp_pc_grouped.reset_index()

In [49]:
gdp_pc_grouped.head()

   gdp_pc  suicides_no
0     251           47
1     291          556
2     313          510
3     345          560
4     357          106

In [50]:
#Let's define a naive boundary to decide whether we are in a "high gdp" or "low gdp"
dboundary = (gdp_pc_grouped.gdp_pc.max() - gdp_pc_grouped.gdp_pc.min()) / 2

In [51]:
dboundary

63050.5

In [52]:
#We engineer a new binary column called "gdp_pc_hilo" which shows 1 = high gdp, 0 = low gdp
#suicides['gdp_pc_hilo'] = suicides['gdp_pc'].apply(lambda x : 0 if x < dboundary else 1)
gdp_pc_grouped['gdp_pc_hilo'] = gdp_pc_grouped.gdp_pc.apply(lambda x : 0 if x < dboundary else 1)

In [81]:
#Get the high group (treatment) into a separate dataframe
high_group = gdp_pc_grouped[gdp_pc_grouped['gdp_pc_hilo'] == 1]
high_group.head()

      gdp_pc  suicides_no  gdp_pc_hilo
2169   63380         1112            1
2170   64133         1230            1
2171   64708           40            1
2172   64762           29            1
2173   64831          610            1

In [56]:
#Get the low group (treatment) into a separate dataframe
low_group = gdp_pc_grouped[gdp_pc_grouped['gdp_pc_hilo'] == 0]
low_group.head()

   gdp_pc  suicides_no  gdp_pc_hilo
0     251           47            0
1     291          556            0
2     313          510            0
3     345          560            0
4     357          106            0

Before we move along, we need to pay attention to two main statistical criteria. We would like to use the normal model (bell curve) to estimate the population proportions in the high and low groups. 

1. Independence Criterion - We need our sample size to be lower than 10% of the total population to ensure that the observations are sufficiently independent. On top of this, we also need our sample size to be big enough. If the population is not heavily skewed, then we can get away with a sample size of 30 or more in each group. However, if we see the suicide_no variable, it is heavily skewed. In this case, we need to fulfill a sample size of greater than 100.

2. Success-Failure Criterion- We need to ensure that the total number of successes and total number of failures in each group (sample size * proportion) is greater than 10. 

Once the above criteria are satisfied, we can use the normal model to estimate our population proportions.

In [60]:
#First, let's start with N = 200 random samples from both groups. This ensures we are far away from the 
#100 minimum and so we can ensure independence to some extent.
sample_size = 200
population = suicides.shape[0]

high = np.random.choice(high_group.gdp_pc.values,sample_size)
low = np.random.choice(low_group.gdp_pc.values,sample_size)

In [76]:
high

array([109804, 107456,  74055,  65598,  81766,  71215,  71460, 109483,
        66809,  63380,  76638,  66770,  67173, 103431,  76638, 126352,
        93270,  85397, 108408, 120423,  71460,  80040,  95351,  64911,
        73529,  93638,  90490, 122729,  68447, 121315, 122729, 121315,
       109483,  87951,  69301,  80040, 113120,  89634,  90797,  90809,
       108408,  71215,  73529, 113120,  90809,  85394, 107456,  91587,
        69301,  80040, 109483, 113120,  65598,  64708,  63380, 109483,
       111328,  73529,  64708,  69768,  69768, 109483,  90490,  74055,
        73590, 103431,  66807,  89634,  72669,  93066,  67032,  93053,
        85394,  93053,  71460,  79187,  66099,  74055, 107456,  93053,
        67173,  64911,  80040,  90490,  64762,  83151,  69768,  66770,
        71460,  66809,  93638,  76638,  66770,  69768,  87951,  64831,
        69768, 113120,  90809,  63380,  90797,  68447, 113120, 126352,
        93638,  69768,  93053, 126352,  95351,  87951,  71460,  83151,
       108408,  64133, 112581,  90809,  64831,  67173, 112581, 103443,
        80040,  71215,  80040,  95351, 107430, 109804,  67032,  64133,
        69768,  64911, 126352,  85394,  83151,  80639,  76202,  65598,
       103443, 121315, 109804,  66770,  78474,  68447,  73590,  69301,
        78474,  69301, 121315,  93638, 103431, 109804,  66114,  74055,
       107456,  79007, 109804,  89634,  85394,  64762,  67173,  79187,
        72669,  76202, 107456,  72669, 103431,  64831,  66114,  79187,
        67032,  65598, 107430, 109804,  93066,  66770,  73590,  72856,
        80040,  65598,  66809,  66114,  72856,  71215, 113120, 111328,
        64911,  66099,  81766,  90797, 120423,  76202, 107456,  87961,
        68447, 111328,  67173,  66114, 109483,  86068,  66809, 122729])

In [82]:
high_group.set_index('gdp_pc',inplace=True)
high_group.head()

        suicides_no  gdp_pc_hilo
gdp_pc
63380          1112            1
64133          1230            1
64708            40            1
64762            29            1
64831           610            1

In [90]:
idx = high[1]
high_sample = high_group['suicides_no'].loc[high]
high_sample

gdp_pc
109804     554
107456      64
74055       47
65598      589
81766      329
71215      533
71460       41
109483      48
66809     2891
63380     1112
76638      308
66770     2392
67173      506
103431     505
76638      308
126352      67
93270       43
85397       49
108408     515
120423      40
71460       41
80040      392
95351       65
64911       44
73529     1105
93638      548
90490       50
122729      55
68447      603
121315      43
          ...
107430     598
109804     554
93066       37
66770     2392
73590       37
72856     2608
80040      392
65598      589
66809     2891
66114      629
72856     2608
71215      533
113120      51
111328      54
64911       44
66099      296
81766      329
90797      485
120423      40
76202     1314
107456      64
87961       33
68447      603
111328      54
67173      506
66114      629
109483      48
86068     1073
66809     2891
122729      55
Name: suicides_no, Length: 200, dtype: int64